.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.school-logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

p {
  margin-bottom: 30px;
  color: #555;
}

.login-btn {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}
